.popup {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: .4s;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    opacity: 1;
    pointer-events: all;
}

.content {
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}