.myButton {
    background: transparent;
    border: 2px solid rgb(62, 104, 255);
    padding: 10px;
    color: #000;
    font-weight: 600;
    width: 100px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
}